/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

img{
    max-width: 100%;
}

/* regole sezione laterale */
.container{
    display: flex; 
    overflow: hidden;
}

.aside{
    width: 230px;
    height: calc(100vh - 90px);
    background-color: #000;
    overflow: hidden;
    padding-bottom: 20px;
}

.aside-top{
    height: 180px;
}

.nav-bar img{
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}

#logo-desktop #logo{
    height: 40px;
    margin: 20px 20px 30px;
}

#logo-mobile{
    display: none;
    width: 35px;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px 20px;
}

.nav-bar img{
    height: 25px;
    margin-right: 10px;
}

#home{
    padding-left: 15px;
    border-left: 5px solid #adff2f;
}

.aside a, .gray{
    color: #676767;
    font-size: 12px;
}

#playlist{
    margin-top: 20px;
    padding-inline:20px; 
    height: calc(100% - 250px);
    overflow-y: auto;
}

.flex-square{
    display: flex;
    margin-top: 15px;
}

.flex-square .txt-nav-bar{
    line-height: 35px;
}

.square{
    width: 35px;
    height: 35px;
    margin-right: 10px ;
    background-color: #a3a3a3;
    position: relative;
    margin-bottom: 20px;
}

.fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: larger;
}

#playlist li{
    margin-bottom: 10px;
}

.aside-btm{
    padding-inline: 20px;
    height: 70px;
    margin-bottom:0;
}

.aside-bottom{
    display: flex;
   
}

.aside-bottom .txt-nav-bar{
    margin-left: 10px;
}

.aside hr{
    display: block;
    margin: 10px 0;
}

/* regole main */
.main{
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}

/* header */
header{
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #080b12;
    width: calc(100vw - 230px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    opacity: 0.5;
}

header a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 30px;
    margin-right: 20px;
}

.container-main{
    margin: 90px 20px 0 ;
    height: calc(100% - 90px);
}

.container-main nav ul{
    display: flex;
    justify-content: center;
}

.container-main nav ul li{
    padding:  10px;
    font-size: 14px;
}

.green-line{
    position: relative;
}

.green-line hr{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #adff2f;
    border: 1px solid #adff2f;
    position: absolute;
    bottom: 0;
    left: 40px;
}

.container-main section{
    margin: 20px 0;
}

.albums{
    display: flex; 
    flex-wrap: wrap;
    margin-inline: -10px;
}

.album{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.album h4, .album h5{
    text-align: center;
}

.album h4{
    margin: 10px 0;
}

.container-main .mtb{
    margin: 10px 0 15px;
}

.albums .round{
    border-radius: 50%;
}

/* footer */
footer{
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

footer i{
    padding: 0 7px;
}

.left-footer{
    display: flex;
    align-items: center;
}

.song{
    display: flex;
    align-items: center;
}

.song img{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.song span{
    display: block;
    margin: 0 10px;
    font-size: 12px;
}

.center-footer i{
    font-size: 1.3em;
}

.center-footer .fa-circle-play{
    padding: 0 15px;
    font-size: 1.5em;
}

.row{
    text-align: center;
}

.row-2{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.row-2 span{
    font-size: 12px;
    padding: 0 10px;
}

.row-2 hr{
    width: 390px;
}

.style-hr{
    background: #a3a3a3;
    background: linear-gradient(to right,  #a3a3a3 50%,#5a5a5a 50%);
    height: 5px;
}

.right-footer{
    display: flex;
    align-items: center;
}

.right-footer i{
    color: #c1c1c1;
}

.right-footer hr{
    width: 140px;
}


/**********************REGOLE HOVER****************************/
.nav-bar:hover img, 
.nav-bar:hover a, 
.txt-nav-bar li:hover,
.aside-bottom:hover span, 
.aside-bottom:hover a,
.flex-square:hover .txt-nav-bar,
.hover:hover,
.container-main nav ul li:hover{
    filter: brightness(0) invert(1);
}

.main header a{
    transition: .5ms;
}

.main header a:hover{
    font-size: 1.1em;
}

.layover{
    position: relative;
}

.layover span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 50px;
    display: none;
}

.album .layover:hover span{
    display: block;
}

.album .layover:hover img{
    opacity: 0.3;
}

.flex-square:hover .square{
    background-color: #fff;
}

.fa-circle-play{
    transition: .5ms;
}

footer .fa-circle-play:hover{
    font-size: 1.9em;
}

.style-hr-hover{
    position: relative;
    display: none;
}

.style-hr-green, .right-footer .style-hr-green-small{
    background: #adff2f;
    background: linear-gradient(to right,  #adff2f 50%,#5a5a5a 50%);
    height: 5px;
}

.right-footer .style-hr-green-small{
    width: 140px;
}

.style-hr-hover .fa-circle, .style-hr-hover-small .fa-circle{
    font-size: 10px;
    color: #adff2f;
    position: absolute;
    top: -3px;
}

.style-hr-hover .fa-circle{
    left: 180px;
}

.style-hr-hover-small .fa-circle{
    left: 60px;
}

.row-2:hover  .style-hr-hover{
    display: block;
}

.row-2:hover .style-hr{
    display: none;
}

.style-hr-hover-small{
    position: relative;
    display: none;
}

.right-footer:hover .style-hr-hover-small{
    display: block;
}

.right-footer:hover .style-hr{
    display: none;
}


/*********************** RESPONSIVE ***********************/

/* spotify md */

@media screen and (max-width:963px){

    /* main */
    .aside{
        width: 170px;
    }

    .main{
        width: calc(100vw - 170px);
    }
    
    /* header */
    header{
        width: calc(100vw - 170px);
    }
    
    header a{
        font-size: .6em;
    }
    
    /* nav bar */
    .container-main nav ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .container-main nav ul li{
        width: calc(100% / 5);
        padding:  5px;
    }
    
    .container-main nav ul a{
        font-size: .7em;
    }
    
    .green-line hr{
        left: 25px;
    }
    
    /* main */
    
    .album{
        width: calc(100% / 4 - 20px);
        margin: 10px;
    }
    
    .album h4, .album h5{
        font-size: .7em;
    }
    
    .album h4{
        margin: 7px 0;
    }
    
    /* footer */
    footer i{
        padding: 0 3px;
    }

    .song span{
        margin-left: 5px;
        font-size: 10px;
    }
    
    .center-footer i{
        font-size: 1em;
    }
    
    .center-footer .fa-circle-play{
        padding: 0 10px;
        font-size: 1.3em;
    }
    
    .row-2{
        margin-top: 10px;
    }
    
    .row-2 span{
        font-size: 10px;
        padding: 0 5px;
    }
    
    .row-2 hr{
        width: 250px;
    }

    .right-footer hr{
        width: 70px;
    }
}

/* spotify s */

@media screen and (max-width: 600px){

    /* aside */
    .aside{
        width: 160px;
    }
    
    .aside-top{
        height: 180px;
    }
    
    #logo-desktop #logo{
        height: 35px;
    }
    
    .nav-bar a{
        font-size: .7em;
    }
    
    
    #playlist{
        margin-top: 15px;
        padding-inline:20px; 
    }
    
    .flex-square{
        display: flex;
        margin-top: 5px;
    }
    
    #playlist li{
        margin-bottom: 5px;
    }
    
    .aside-btm{
        padding: 20px;
        height: 50px;
        margin-bottom:0;
    }
    
    /* main */
    .main{
        width: calc(100vw - 160px);
    }
 
    header{
        width: calc(100vw - 160px);
        height: 55px;
    }
    
    /* nav bar */
    .container-main nav ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .container-main nav ul li{
        width: calc(100% / 3);
        padding:  5px;
        text-align: center;
    }
    
    .green-line hr{
        width: 20px;
        height: 2px;
        left: 60px;
    }
    
    .album{
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }
    
    /* footer */
    .center-footer i{
        font-size: .8em;
    }
    
    .left-footer .dx{
        width: 20%;
    }

    .center-footer .fa-circle-play{
        padding: 0 5px;
        font-size: 1em;
    }
    
    .row-2 span{
        font-size: 8px;
        padding: 0 3px;
    }
    
    .row-2 hr{
        width: 150px;
    }

    .right-footer hr{
        width: 50px;
    }
}


/* spotify xs */

@media screen and (max-width: 465px){
    /* aside */
    .aside{
        width: 70px;
        height: calc(100vh - 90px);
    }
    
    .aside .txt-nav-bar{
        display: none;
    }

    #logo-desktop{
        display: none;
    }

    #logo-mobile{
        display: block;
        margin: 20px 20px 10px 20px;
    }
    












    /* main */
    .main{
        width: calc(100vw - 70px);
    }
 
    header{
        width: calc(100vw - 70px);
        height: 55px;
    }
    
    /* nav bar */
    .container-main nav ul{
        justify-content: center;
    }
    
    .container-main nav ul li{
        width: calc(100% / 4);
        padding:  5px 0;
        text-align: center;
    }
    
    .green-line hr{
        width: 20px;
        height: 2px;
        left: 35px;
    }
    
    .album{
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }
}